.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 3em;
  grid-row-gap: 8em;
  /* grid-template-rows: minmax(100px, auto); */
}

.wrapper > div {
  background: #eee;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background: #ddd;
}

.wrapper > .merchandiseBanner {
  grid-column: 1 / 3;
  padding: 0em;
}

.bannerBg {
  width: 100%;
  height: 100%;
  background-image: url("/Images/merchBanner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundContent {
  text-align: center;
}
