@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #ddf2eb, #d3cdd7);
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  display: flex;
  padding: 10px 5%;
  background-color: #ddf2eb;
  align-items: center;
  align-self: stretch;
}

#logo {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.nav_links {
  list-style: none;
  margin-left: 10%;
  white-space: nowrap;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 15px;
  color: #606d5d;
  text-decoration: none;
}

.nav_links li a:hover {
  color: honeydew;
}

.flex-container {
  display: flex;
}
