@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #ddf2eb, #d3cdd7);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

header {
  display: flex;
  padding: 10px 0;
  background-color: #ddf2eb;
  overflow: hidden;
  align-items: center;
}

#logo {
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 2%;
}

.nav_links {
  margin-left: 3vw;
  white-space: nowrap;
  margin-right: 20px;
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 2.5vw;
}

header a {
  transition: all 0.3s ease 0;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
  font-size: 15px;
  color: #606d5d;
  text-decoration: none;
}

#Basket {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
  font-size: 30px;
}

header a:hover {
  color: honeydew;
}

.flex-container {
  display: flex;
}

.dropbtn {
  display: none;
}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 1000px) {
  header {
    justify-content: space-between;
  }

  #Basket,
  .nav_links {
    display: none;
  }

  .dropbtn {
    font-size: 2rem;
    display: inline-block;
    border: transparent;
    color: rgb(113, 39, 136);
    background-color: transparent;
    margin-right: 2%;
  }

  .dropbtn:hover {
    transform: rotate(90deg);
    color: rgb(240, 204, 252);
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .mobileNav {
    display: block;
    margin: 1rem;
  }

  .mobileNav > ul {
    list-style: none;
    text-align: center;
  }

  .mobileNav > ul > li > a {
    font-size: 2rem;
    text-decoration: none;
    width: 100%;
    color: white;
  }

  .mobileNav > ul > li:hover:nth-child(even) {
    background-color: rgba(132, 172, 206, 0.5);
  }

  .mobileNav > ul > li:hover:nth-child(odd) {
    background-color: rgba(215, 217, 177, 0.5);
  }

  .mobileNav > ul > li {
    font-size: 2rem;
    text-decoration: none;
    border-radius: 1.5rem;
    width: 100%;
    margin-top: 1rem;
    -webkit-box-shadow: 0px 0px 23px 14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.75);
  }

  .mobileNav > ul > li:nth-child(even) {
    background-color: rgb(132, 172, 206);
  }

  .mobileNav > ul > li:nth-child(odd) {
    background-color: rgb(215, 217, 177);
  }

  .show-links {
    display: none;
  }
}
